venv/
__pycache__/
*.pyc
.env

checkpoints/
data/


mlflow.db
mlruns/

models/
notebooks/

# OS / editor
.DS_Store
.vscode/
.idea/

# logs
logs/
*.log

# Kafka / temp
*.tmp
*.swp

mlartifacts/
mlflow.db

